In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
import numpy as np
import pandas as pd
arr = np.array([10, 20, 30, 40])
serie = pd.Series(arr)
print(serie)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
serie = pd.Series(arr, index=['a','b','c','d'])
serie

a    10
b    20
c    30
d    40
dtype: int64

In [10]:
mat = np.arange(6).reshape(2,3)
df = pd.DataFrame(mat, columns=['col1','col2','col3'])
df

   col1  col2  col3
0     0     1     2
1     3     4     5

In [13]:
df = pd.DataFrame({'ventas': [100, 200, 150]})
arr = df['ventas'].to_numpy()
arr_mas_iva = np.multiply(arr, 1.19)  # +19 % IVA
df['ventas_iva'] = arr_mas_iva
print(arr_mas_iva)

[119.  238.  178.5]

In [20]:
archivo_temperaturas = 'C:\\Programación\Pandas\\temperaturas_globales.csv'

df_temperaturas = pd.read_csv(archivo_temperaturas,  parse_dates=['Fecha'])

print(df_temperaturas.head())

archivo_precipitaciones = 'C:\\Programación\Pandas\\precipitaciones_globales.csv'

df_precipitaciones = pd.read_csv(archivo_precipitaciones, parse_dates=['Fecha'])

print(df_precipitaciones.head())

       Fecha  Nueva York  París  Berlín  Londres  Madrid
0 2022-01-31           2      6      22       24      23
1 2022-02-28          26     29      18       10      21
2 2022-03-31          20      3      14        2      -4
3 2022-04-30          32     -4      26       31      33
4 2022-05-31          18      0      33        1      26
       Fecha  Nueva York  París  Berlín  Londres  Madrid
0 2022-01-31          63     78      33       99      82
1 2022-02-28          78     34      76       57      86
2 2022-03-31          35     23      74       52      58
3 2022-04-30          33     75      90       88      65
4 2022-05-31          80     81      85       49      49

In [21]:
archivo_temperaturas = 'C:\\Programación\Pandas\\temperaturas_globales.csv'

df_temperaturas = pd.read_csv(archivo_temperaturas, usecols=['Fecha', 'Nueva York'],  parse_dates=['Fecha'])

print(df_temperaturas.head())

archivo_precipitaciones = 'C:\\Programación\Pandas\\precipitaciones_globales.csv'

df_precipitaciones = pd.read_csv(archivo_precipitaciones,usecols=['Fecha', 'Nueva York'], parse_dates=['Fecha'])

print(df_precipitaciones.head())

       Fecha  Nueva York
0 2022-01-31           2
1 2022-02-28          26
2 2022-03-31          20
3 2022-04-30          32
4 2022-05-31          18
       Fecha  Nueva York
0 2022-01-31          63
1 2022-02-28          78
2 2022-03-31          35
3 2022-04-30          33
4 2022-05-31          80