In [6]:
print("¡Hola Mundo!")

¡Hola Mundo!

In [8]:
x= "¡Hola Mundo!"
print(x)

¡Hola Mundo!

In [29]:
print("cuál es tu nombre?")
name=input("name")
print("¡Hola " + name + "!")

cuál es tu nombre?

name Julieta

¡Hola Julieta!

In [30]:
((3+2)/(2*5))**2

0.25

In [1]:
horas_trabajadas = float(input("nro de horas trabajadas"))
coste_por_hora = float(input("coste"))
paga = horas_trabajadas*coste_por_hora
print("Tu paga es " + str(paga))

nro de horas trabajadas 28
coste 14000

Tu paga es 392000.0

In [38]:
n= int(input("ingrese un entero"))
suma = int((n*(n+1))/2)
print("La suma de los " + str(n)  + " primeros números es " + str(suma))

ingrese un entero 15

La suma de los 15 primeros números es 120

In [50]:
peso = float(input("ingrese su peso en kg"))
estatura= float(input("ingrese su estatura en mts"))
IMC= round(float(peso)/float(estatura)**2,2)
print("Su IMC es de " + str(IMC))

ingrese su peso en kg 75
ingrese su estatura en mts 1.74

Su IMC es de 24.77

In [54]:
n = int(input("ingrese el dividendo"))
m = int(input("ingrese el divisor"))
c = n//m
r = n% m
print( "El cociente es " + str(c) + " y el resto es " + str(r))

ingrese el dividendo 18
ingrese el divisor 4

El cociente es 4 y el resto es 2

In [55]:
p = float(input("ingrese el capital inicial"))
i = float(input("ingrese el interés anual en porcentaje"))
a = float(input("ingrese el número de años"))
C = p*(1 + i/100)**a
print(C)

ingrese el capital inicial 12000
ingrese el interés anual en porcentaje 1.34
ingrese el número de años 6

12997.70409965921

In [2]:
p = int(input("cantidad de payasos"))
m = int(input("cantidad de muñecas"))
vendidos = int(p + m)
peso_total = int(p*112 + m*75)
print("Número de unidades vendidas " , vendidos)
print("Peso total " , peso_total , "gr")

cantidad de payasos 14
cantidad de muñecas 18

Número de unidades vendidas  32
Peso total  2918 gr

In [64]:
name = str(input("ingrese nombre de usuario"))
n = int(input("ingrese un número entero"))
print((name + "\n")*int(n))

ingrese nombre de usuario Juli
ingrese un número entero 5

Juli
Juli
Juli
Juli
Juli

In [69]:
name = str(input("ingrese nombre completo"))
print(name.upper())
print(name.lower())
print(name.title())

ingrese nombre completo julieta zuccaro

JULIETA ZUCCARO
julieta zuccaro
Julieta Zuccaro

In [76]:
name = str(input("ingrese nombre completo"))
print("Su nombre " + name.upper() + " tiene " + str(len(name)) + " letras")

ingrese nombre completo julieta

Su nombre JULIETA tiene 7 letras

In [81]:
name = str(input("ingrese nombre completo"))
mensaje = "Su nombre {} tiene {} letras".format(name.upper(), str(len(name)))
print (mensaje)

ingrese nombre completo Julieta

Su nombre JULIETA tiene 7 letras

In [84]:
teléfono = input("ingrese el número teléfonico con el formato xx-xxxxxxxxx-xx")
msj= "El número de teléfono es {}".format(teléfono[3:-3])
print(msj)

ingrese el número teléfonico con el formato xx-xxxxxxxxx-xx 32-123456789-54

El número de teléfono es 123456789

In [85]:
frase = input("ingrese una frase")
vocal = input("ingrese una vocal")
print(frase.replace(vocal,vocal.upper()))

ingrese una frase hola soy julieta
ingrese una vocal o

hOla sOy julieta

In [113]:
correo = input("ingrese su correo electrónico xxxxx@xxxx")
a = correo.find("@")
print("Su correo es "+ correo[0:a] +"@ceu.es")

ingrese su correo electrónico xxxxx@xxxx julietazuccaro@gmail.com

Su correo es julietazuccaro@ceu.es

In [3]:
s ="A man, a plan, a canal: Panama"
s = s.replace(",","")
print(s)
s = s.replace(" ","")
print (s)

A man a plan a canal: Panama
Amanaplanacanal:Panama

In [4]:
 s[::-1]

'amanaP:lanacanalpanamA'