<a href="https://colab.research.google.com/github/institutohumai/cursos-python/blob/master/Introduccion/1_TiposDatos/tipos-datos.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>
<div align="center"> Recordá abrir en una nueva pestaña </div>

In [ ]:
# Introducción a la programación con Python

<h1 id="tocheading">Tabla de Contenidos</h1>
<div id="toc"></div>

I. Introducción a la programación con Python

II. Tabla de Contenidos

    I. Python

III. IDEs

        I. VS Code
        II. Pycharm
        III. Spyder

IV. Hola Jupyter!

V. Declarando variables

    I. Numéricos
    II. Operaciones numéricas - Divisiones
    III. Booleanos
        I. Operaciones lógicas

VI. Ejercicios

    I. Strings
            I. Ejercicios
    II. Listas
        I. Indexing y slicing en listas
        II. Otras operaciones y métodos
    III. Diccionarios
    IV. Condicionales
    V. Bucles o Loops
        I. For loop
        II. While loop
    VI. Recursos y tips
    VII. Tips en la práctica

## Python

- Elegante, sencillo
- Comunidad y accesibilidad
- Desarrollos de estado del arte
- Flexibilidad "full stack"
- Multi-paradigma

# IDEs

### VS Code

<img src='https://datasets-humai.s3.amazonaws.com/images/IDE.png'></img>

### Pycharm

<img src='https://datasets-humai.s3.amazonaws.com/images/Pycharm.png'></img>

### Spyder

<img src='https://datasets-humai.s3.amazonaws.com/images/spyder.png'></img>

# Hola Jupyter!

En esta _notebook_ conoceremos el entorno Jupyter (o Google Colaboratory, una versión online gratuita), interfaz incluida en la instalación de Python ampliamente usada para Data Science llamada <a href="https://www.anaconda.com/products/individual"/> Anaconda </a>. Para seguir el curso offline, luego de descargar e instalar Anaconda, si usan Windows deberán buscar el programa en su computadora y ejecutar Jupyter.

Si están en una distribución de linux o Mac pueden ejecutar en la terminal:

> jupyter notebook

Cada una de estas _celdas_ funciona como un bloque donde podemos escribir texto plano, Latex, HTML, además de ejecutar código Python, R, bash y otros.

$$\bar{x} = \frac{1}{n} \sum_{i=1}^n x_i$$

# Declarando variables <a name="section-2"></a>

Existen distintos tipos de variables:
- int: entero
- float: punto flotante
- string: cadena de caracteres
- bool: booleano, 0, 1, True o False

Y estructuras de datos, como:
  - list: lista de elementos (de cualquier tipo, incluida otra lista)
  - dict: "diccionario", conjunto de pares llave:valor
  
Veamos un primer ejemplo

In [ ]:
primera_variable = 'Hola mundo!'

print(primera_variable)

Declaramos una variable llamada *primera_variable* asignándole el valor de "Hola mundo!". La **función print** toma entre paréntesis esa variable y muestra el valor en pantalla.

En Jupyter la última línea de una celda se imprime al ejecutar...

In [ ]:
primera_variable

## Numéricos

Declaramos dos variables de tipo numérico:

In [ ]:
x = 5
y = 17

Podemos hacer las operaciones numéricas usuales:

In [ ]:
print(x+y) # suma
print(x*2) # multiplicacion
print(x**(1/2)) # elevado a

## Operaciones numéricas - Divisiones

Devuelve la división:

In [ ]:
print(y / x)

Devuelve la parte entera de la división:

In [ ]:
print(y // x)

Devuelve el resto:

In [ ]:
print(y % x)

Otros ejemplos:

In [ ]:
un_string = 'variable de ejemplo'
un_bool = True

La **función** _type_ recibe de **argumento** una **variable** y **devuelve** su tipo

In [ ]:
type(x), type(y)

Intentemos la siguiente suma...

In [1]:
5 + "10"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

¿Qué paso?

Si **convertimos** el string "10" a tipo int

In [ ]:
5 + int('10')

Cada tipo de variable responde a ciertos **métodos**. Veamos las operaciones lógicas, que utilizan **booleanos**

## Booleanos

### Operaciones lógicas

In [2]:
print(10 >= 9)

True

In [3]:
print("palabra" == "palabra")
print("otras palabras" != "otras palabras")

True
False

In [4]:
print("test" in "testing")

a = 'testing'

print('test' in a)

True
True

Los operadores disponibles son:

    Relacionales:
    - >= , <=, <, > : Mayor o igual, menor o igual, mayor o menor
    - != , == : Distinto, Igual
    - in : Contenido por
    Lógicos:
    - not o ~ : Negación
    - and o & : Ambas verdaderas
    - or o | : Una u otra es verdadera
    
Como booleanos, se pueden utilizar tanto 0 y 1 como True y False.

# Ejercicios <a name="section-3"></a>


1- Definan a = 5, b = 7 y c = 8

Prueben las siguientes operaciones booleanas:

2- a > b

3- a < b

4- a + b < c

5- (a + b > c) | (a + b < c) --> a + b o es mayor a c o es menor

6- (a + b > c) & (a + b < c) --> a + b es mayor a c y es menor a c

## Strings <a name="section-4"></a>

In [ ]:
"dos strings se pueden " + "sumar"

Podemos acceder a ellos mediante **índices**. Los mismos funcionan para cualquier **iterable**, que es un objeto con muchos elementos que son accesibles secuencialmente. Podemos usar los índices para acceder a una posición determinada, pasándola entre corchetes [posición]. Es IMPORTANTE mencionar que en Python la primera posición tiene el índice 0 (y no 1).

In [6]:
texto = "programación en python"

In [ ]:
texto[0]

También podemos usar los índices para traer más de un elemento al mismo tiempo, usando el **slicing**. El slicing lleva tres parámetros: comienzo (start), final (stop) e intervalo o paso (step).

- El parámetro comienzo (start) indica la primera posición incluida en la selección, por default es 0.

- El parámetro final (stop) es la primera posición que NO va a estar incluída, por default se incluyen todos los elementos.

- El parámetro intervalo o paso (step), es optativo e indica el tamaño del paso entre seleccionar un elemento y el siguiente, por default el paso es 1. El paso también puede ser negativo, en este caso contamos desde el final hacia el comienzo, esto es muy útil para dar vuelta los strings...

    
    [comienzo : final : intervalo] (en inglés es [start : stop : step] )
    
    
El intervalo que se recibe es semi-abierto (indice_primero, indice_segundo], es decir se incluye el primero y no el segundo valor. Se admiten números negativos, que contabilizan desde el final.

In [ ]:
texto[:]

In [ ]:
texto[:1]

In [ ]:
texto[1:4]

In [ ]:
texto[::-1]

Ejercicio

1- Dado ese string devuelvan únicamente la palabra python usando slicing

In [ ]:
texto

In [ ]:
texto[16:23]

In [ ]:
texto[16:23]

In [ ]:
texto[-6:]

In [ ]:
texto[-6:23:1]

Veamos algunos otros métodos de los strings

In [8]:
texto.upper()

'PROGRAMACIÓN EN PYTHON'

In [7]:
texto.title()

'Programación En Python'

In [11]:
texto.split("o") # Devuelve una lista, de ésto vamos a hablar a continuación

['pr', 'gramación en pyth', 'n']

Otras formas de combinar variables y texto...

Rellenamos un string con **.format(query, modales)**:

In [13]:
tema = 'data science'
modales = 'por favor'

'Dame información de {0} si esta disponible, {1}'.format(tema, modales)

'Dame información de data science si esta disponible, por favor'

In [14]:
#Otra manera
print('Dame información de {tema.upper()} si esta disponible, {modales}')
print(f'lo que sea {tema}')

Dame información de {tema.upper()} si esta disponible, {modales}
lo que sea data science

Otros métodos a mencionar son:

In [19]:
"10l00".isdigit()

False

In [20]:
texto.replace(' ', '...')

'programación...en...python'

In [21]:
"   quitando espacios  ".strip()

'quitando espacios'

In [26]:
texto = "Megustaeltreinta" # Piso el contenido de la variable para hacer otras pruebas
texto.isalpha()

True

In [27]:
texto = "Me" # Piso el contenido de la variable
texto.isalpha()

True

#### Ejercicios <a name="section-5"></a>

1- Concatenar los string "hola" y "qué tal", separando ambos strings con un espacio (Tip: un espacio es: " ")

2- Guardar el resultado anterior en una variable y pasar el texto a mayúsculas.

In [31]:
# Ejercicio 1
texto1 = "hola"
texto2 = "qué tal"

frase = f'{texto1} {texto2}'
print(frase.upper())

HOLA QUÉ TAL

In [ ]:
# Ejercicio 2

## Listas <a name="section-6"></a>

Las listas son un conjunto de elementos ordenados. Estos elementos pueden ser de cualquier tipo, incluyendo otras listas. Veamos algunas operaciones con ellas.

In [33]:
amigos = ['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']

### Indexing y slicing en listas

De la misma forma que con los strings en el contexto de la listas generalmente hablamos de **indexación** o acceso por índice a la acción de encontrar un valor según su posición en la lista.

Importantísimo (sí, ¡una vez más!): En Python el primer elemento se indexa con el valor 0. Es decir, si queremos el primer valor de una lista tenemos que llamar a la posición 0.

In [34]:
amigos[0]

'Mateo'

Además, el último elemento se indexa como -1, el siguiente -2 y así sucesivamente. Entonces para acceder al último elemento:

In [35]:
amigos[-1]

'Paola'

Además, podemos acceder a varios elementos en simultáneo, usando el **slicing** de la misma manera que con strings.

El slicing aplicado a una lista nos devuelve una **lista**.

Veamos algunos ejemplos:

In [36]:
amigos[:] # arranco en 0 hasta el final, con el paso default (1)

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola']

In [37]:
amigos[:1] # arranco en 0 y el primero sin incluir es el 1, con el paso default (1)

['Mateo']

In [38]:
amigos[:-1] # excluímos el último elemento

['Mateo', 'Nico', 'Claudia', 'Ernestina']

In [39]:
amigos[::2] # salteamos un elemento a la vez

['Mateo', 'Claudia', 'Paola']

In [41]:
amigos[::-2]

['Paola', 'Claudia', 'Mateo']

In [43]:
amigos[2:4]

['Claudia', 'Ernestina']

Ejercicios:

1- ¿Es el resultado de amigos[:1] igual al de acceder directamente a la primera posición?

2- Recorrer la lista de elementos de atrás para adelante.

3- Seleccionar del 3er elemento al 4to elemento.

### Otras operaciones y métodos

Agregar un nuevo elemento:

In [47]:
amigos.append('Chicharito')
print(amigos)

amigos = amigos + ['Chicharito']
print(amigos)
x = 10

x = x + 3

x
amigos

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito']
['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito']

['Mateo',
 'Nico',
 'Claudia',
 'Ernestina',
 'Paola',
 'Chicharito',
 'Chicharito',
 'Chicharito',
 'Chicharito',
 'Chicharito',
 'Chicharito',
 'Chicharito',
 'Chicharito']

Sumamos otra lista:

In [48]:
amigos = amigos + ['Pipi', 'Toto']
print(amigos)

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Chicharito', 'Pipi', 'Toto']

Unir una lista con un separador dado:

In [49]:
ejemplo = ['valor1', 'valor2', 'valor3']
';'.join(ejemplo)

'valor1;valor2;valor3'

El ejercicio 1 se podría haber resuelto usando .join así:

In [50]:
" ".join(["hola", "qué tal"])

'hola qué tal'

Borrado por valor:

In [57]:
amigos.remove('Chicharito')
print(amigos)

['Mateo', 'Nico', 'Claudia', 'Ernestina', 'Paola', 'Chicharito', 'Pipi', 'Toto']

Borrado por índice:

In [ ]:
del amigos[0]
print(amigos)

Devuelve un elemento y lo borra de la lista:

In [63]:
valor = amigos.pop(0)
valor

'Chicharito'

In [65]:
edades = [30, 40, 38, 30, 37]

Cantidad de apariciones:

In [66]:
print(edades.count(30))

2

Largo de la lista:

In [67]:
print(len(edades))

5

Ordenar la lista:

In [68]:
sorted(edades)

[30, 30, 37, 38, 40]

Sumar el total:

In [69]:
print(sum(edades))

175

Mínimo:

In [70]:
print(min(edades))

30

Máximo:

In [71]:
print(max(edades))

40

Ejercicio: <a name="section-7"></a>

1- Calcular el promedio de edad de la lista "edades"

In [ ]:
# Ejercicio 1

## Diccionarios <a name="section-8"></a>

Los diccionarios consisten en estructuras que contienen pares de una **llave** y un **valor**. Los elementos NO están ordenados, con lo cual no se puede acceder por posición ni slicing.

Veamos un ejemplo

In [73]:
dnis = {'Herrera':32676585, 'Guzmán':9564787,
        'Pérez':5676898, 'Hernández':40565999,
        'Abraham':28375814,
       "soy_una_llave":"soy_un_valor"}

Sin embargo, sí podemos acceder a un elemento por su llave. Accedemos al valor de "Abraham"

In [ ]:
dnis['Abraham'] # noten que se usa la misma notación que con las listas

¿Qué pasa si tratamos un diccionario como una lista?

In [74]:
dnis[0]

KeyError: 0

Tenemos un error, tratemos de interpretarlo: KeyError se refierre a que no existe una llave (Key) a la que se trató de acceder. En este caso la llave que se trató de acceder es 0.

Podemos ver todas las llaves:

In [75]:
dnis.keys()

dict_keys(['Herrera', 'Guzmán', 'Pérez', 'Hernández', 'Abraham', 'soy_una_llave'])

Traer todos los pares de elementos:

In [76]:
dnis.items()

dict_items([('Herrera', 32676585), ('Guzmán', 9564787), ('Pérez', 5676898), ('Hernández', 40565999), ('Abraham', 28375814), ('soy_una_llave', 'soy_un_valor')])

Y utilizar los mismos métodos para borrar y extrar como en las listas:

In [77]:
dnis.pop('Herrera')

32676585

Los diccionarios tienen longitud, de la misma forma que las listas y string

In [78]:
len(dnis)

5

## Condicionales <a name="section-9"></a>

El condicional tiene la siguiente sintáxis:

    if CONDICIÓN:
        código1
    elif CONDICIÓN2:
        código2
    else:
        código3
        
Donde la condición es un operador que devuelve un objeto de tipo booleano. La **indentación** del código define qué parte se incluye como condicional.

El término "elif" viene de "else if". La condición sólo se evaluará si la condición del "if" no se cumple.

In [79]:
precio_dolar = 62

if precio_dolar >= 90:
    print("El dólar se fue por las nubes")
elif (precio_dolar < 90) and (precio_dolar >= 70):
    print("El dolar subió")
else:
    print("El dólar es menor a 70")

print(precio_dolar)

El dólar es menor a 70
62

## Bucles o Loops

Los bucles son un tipo de sentencia donde se realiza el código contenido repetidamente. Existen dos tipos. En el bucle **for**, se **itera** o recorre un conjunto de elementos actuando por cada uno de ellos. En el bucle **while** se itera hasta que se cumple una condiciónn de corte.

### For loop

In [80]:
for n in [1,2,'3']:
    print(f'EL tipo es {n*2} {type(n*2)}')

EL tipo es 2 <class 'int'>
EL tipo es 4 <class 'int'>
EL tipo es 33 <class 'str'>

In [81]:
lista = [1,2,3,4,5]

for n in lista:
    print(n * 2)

2
4
6
8
10

También agreguemos la función **range** a nuestro repertorio. La función range consta de tres parámetros importante: start, stop, step. Si pasamos un sólo parámetro, estamos pasando el "stop" y tomamos 0 como valor default de "start". Del mismo modo que cuando vimos listas, el stop no está incluído y el step por default es 1.

Veamos cómo funciona:

In [82]:
for n in range(5):
    print(n)

0
1
2
3
4

Si pasamos dos parámetros, estamos pasando el start y el stop, el primer valor es el "start" y el segundo el "stop".

In [83]:
for n in range(0,5):
    print(n)

0
1
2
3
4

Noten que el valor de start se incluye y el de stop no:

In [84]:
for n in range(1, 6): # esto nos da el mismo resultado que un par de celdas más arriba
    print(n * 2)

2
4
6
8
10

Por último, el tercer parámetro es el step...

In [86]:
for n in range(1,51):
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [116]:
medios = ["cheques1", "bonos", "acciones", 1000, "transferencia"]
print(medios[1])
print(medios[1][2])
print(medios[3])
print(str(medios[3])[2])
medios.append("")
print(medios)

bonos
n
1000
0
['cheques1', 'bonos', 'acciones', 1000, 'transferencia', '']

In [117]:
for medio in medios:

    medio = str(medio)
    if medio.isalpha():
        print(medio[0])
    elif medio.isdigit():
        print(str(medio[0]))
    else: 
        print ("Es otro tipo")

Es otro tipo
b
a
1
t
Es otro tipo

In [98]:
x = "hola mundo"
print(type(x))

<class 'str'>

In [115]:

medios = ["cheques1", "bonos", "acciones", 1000, "transferencia"]
for medio in medios:

    if isinstance(medio, str):
        print(medio[0])
    elif isinstance(medio, int):
        medio = str(medio)
        print(str(medio[0]))
    else: 
        print ("Es otro tipo")

c
b
a
1
t

In [113]:
x = "palabra"
isinstance(x, str)
print(isinstance(x, str))

True

Ejercicios combinando lo visto hasta el momento:

1- Imprimir los valores de 1 a 50, salteando de a un valor por vez...

2- Dada la siguiente lista: medios = ["cheques", "bonos", "acciones", 1000, "transferencia"]. Acceder al 2do elemento, y luego al 3er elemento (de ese 2do elemento) y responder qué devulve.

3- De manera similar, ahora accedan al 4to elemento, y luego al 3er elemento de éste, ¿qué ocurre?

4- Agreguen una lista vacía al final de esa lista.

5- Recorran *medios* (iteren) y si el tipo del elemento es string, hagan un print de su primer elemento, si es int (entero) pásenlo a string y hagan un print de su primer elemento y si no es nada de eso hagan un print que diga "Es otro tipo". Tip1: para pasar un elemento a tipo string pueden usar la función str(variable), donde variable es el elemento que quieren transformar. Tip2: para arrancar este ejercicio pueden copiar lo siguiente:

In [ ]:
for medio in medios:
    pass # pass no hace nada, sólo pasa sin ejecutar nada... Reemplácenlo y completen con las condiciones.

### While loop

Los bucles **while** se definen con una condición, y el código contenido se ejecuta mientras la misma evalue como True. Es importante definir correctamente cuándo la condición pasa de True a False, si no lo hacemos podemos dejar corriendo un programa infinitamente sin que corte. Si eso llega a suceder tienen un botón de stop arriba en la notebook.

In [118]:
contador = 3

while contador < 20:
    contador += 1 # esto equivale a count = count + 1
    print(contador)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

---

## Recursos y tips


- [Google!](https://google.com)
- [StackOverflow](https://stackoverflow.com)
- [Google Colab](https://colab.research.google.com)
- [Slicing](https://python-reference.readthedocs.io/en/latest/docs/brackets/slicing.html)
---

## Tips en la práctica

- Ver _docstring_ con Shift + TAB o help()
- Leer Errores
- Print